<div class="container">
  <%= form_tag '/users', :class => 'form-horizontal' do %>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Регистрация</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, class: "alert alert-#{key} alert-dismissable") do %>
            <%= value %>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <label class="sr-only" for="name">Name</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 100%">Имя</div>
            <input type="text" name="name" class="form-control" id="name" required autofocus>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <label class="sr-only" for="email">E-Mail Address</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 100%">Email</div>
            <input type="email" name="email" class="form-control" id="email"
                   placeholder="you@example.com" required>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 100%">Пароль</div>
            <input type="password" name="password" class="form-control" id="password"
                   placeholder="Password" required>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="sr-only" for="password_confirmation">Password</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 100%">Подтверждение пароля</div>
            <input type="password" name="password_confirmation" class="form-control" id="password_confirmation"
                   placeholder="Password" required>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 1rem">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Вход</button>
      </div>
    </div>
  <% end %>
</div>
